extends ../layout

block content
    #forgotPassword
    h1.text-white &iquest;Olvid&oacute; su contrase&ntilde;a?
    br
    if !success
        form(action='/forgotPassword', method='post')
            .form-group
                h5.text-white Ingrese la direcci&oacute;n de correo electr&oacute;nico asociada a su cuenta. Se enviar&aacute; un correo electr&oacute;nico con instrucciones para restablecer su contrase&ntilde;a.
                br
                label.text-white(for='email') Email:
                input#email.form-control(type='email', name='email', required='', value=email class=errors.email ? 'is-invalid' : '')
                if errors.email
                    small#emailHelp.text-danger
                        = errors.email.message
                br
                input#edit.btn.btn-light(type='submit', value='Enviar')
    else
        h5.text-white Se ha enviado un mail de reestablecimiento de contrase&ntilde;a a&nbsp;
            = email